footer {
    background-color: black;
    display: flex;
    justify-content: space-around;

    div {
        margin-top: 10px;
        margin-bottom: 10px;
        p {
            color: white;
        }
    }
}