.hero {
    background-image: url(../images/img_cover_home.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    height: 575px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    div {
        div {
            h1 {
                font-size: 75px;
                @extend body;
            }
            h2 {
                font-size: 40px;
                @extend body;
                margin-bottom: 15px;
            }
        }
    }
}